body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
}

.ratings {
    font-size: 30px;
    font-style: oblique;
}

.good {
    font-size: 25px;
    font-style: unset;
}

.bad {
    font-size: 25px;
    font-style: unset;
}

.dubai-mall {
    font-size: 25px;
    font-style: unset;
}

.bold {
    font-size: 20px;
}